@media (max-width:768px){
img{
    width:100px;
    height: auto;
}
}
body{
height: 100px; 

    background-image:url(photo_2026-04-05_09-45-09.jpg) ;
background-position: center;
background-repeat:no-repeat ;
background-size: cover;
background-attachment: fixed;
max-height: 100vh;

}

body::before{
 background-color: rgba(142, 142, 142, 0.4);
}
a{
     color: rgb(250, 0, 0);
     font-size: x-large;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
}
a:hover{
    background-color:  rgb(103, 103, 103);
   font-size: xx-large;

}


h1{
    font-family: Impact;
    border-style: solid;
    border-radius: 9px;
    text-shadow: 1px 1px 5px rgb(148, 192, 236);
    margin: 0px ;
    padding: 15px;
}
h2{
    font-family: Times New Roman;
    font-size: 2em;
    color: rgb(7, 234, 246);
}
table{
     border-style:solid;
     margin-right: 10px;
     size: 70px;
     
    
     
}
u{
    border: 0.5px dashed rgb(0, 0, 0);
    border-radius: 8px;
    
}
td{
 text-align: center;
  font-size :10px;;
 margin-left: 200em;
}
tr{
  text-align: center;
    font-size:larger;
    margin-right: 200em;
}


span{
    background-color: black;
}
.navbar ul{
    list-style-type:none  ;
    background-color: rgb(36, 34, 34);
    padding: 0px;
    margin: 1px;
    position:relative ;
    overflow:auto;
  
}
.navbar a{
    color: rgb(2, 157, 204);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align:right;
}
.navbar a:hover{
    background-color: rgb(123, 47, 139);
}
.navbar li{
    float: left;
}
